body{
    margin: 0;
    padding: 0;
    background-color: #8a2be2 ;
}

.container{
    width: 300px;
    height: 400px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popsicle{
    width: 150px;
    height: 200px;
    border: 2px solid white;
    border-radius: 95px 95px 15px 15px;
    background: repeating-linear-gradient(-30deg,  #FF6600  0,  #FF6600 15%, #FF0000 15% , #FF0000 30%,  #FFFF00 30%,  #FFFF00 45%);
    animation: move 2.5s infinite alternate;
    background-size: 600px;
}

@keyframes move {
    100%{
        background-position: -300px;
        
    }
}